<div class="chat">
    <div class="chat-avatar">
            <img src={{avatar}} alt="" />
    </div>
    <div class="message-main">
        <div class="message-top">
            <span class="user-name">{{name}}</span>
            <span class="time">{{time}}</span>
        </div>
        <div class="message-bottom">
            <span class="last-message">{{last_message}}</span>
            <span class="count">{{count}}</span>
        </div>
    </div>   
</div>