
<div class="input-wrapper">
                <label class="label" for="{{id}}">{{label}}</label>
                <input class="input" type="{{type}}" placeholder="{{label}}" name="{{id}}" id="{{id}}" for="{{id}}">
                <span class="span-error"></span>
</div>